<div class="modal in" id="add-event" style="display: block; padding-right: 17px;" ng-cloak>
    <div class="modal-dialog modal-light modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Add event</h2>
            </div>
            <div class="row">

                <div ng-if="uploaderAdd.isHTML5" class="col-md-12" ng-click="openAddUpload()">
                    <div filters="" ng-class="{'my-drop-zone': !(uploaderAdd.queue && uploaderAdd.queue.length > 0)}" nv-file-over="" uploader="uploaderAdd">
                        <span ng-hide="uploaderAdd.queue.length > 0">Upload event image</span>
                        <div ng-repeat="item in uploaderAdd.queue">
                            <div ng-thumb="{ file: item._file, height: 100 }" style="text-align: center"></div>
                        </div>
                    </div>
                    <input type="file" id="addUpload" filters="" name="image" nv-file-select="" uploader="uploaderAdd" class="uploader"/>
                    <button type="button" class="btn btn-normal btn-upload" ng-disabled="!uploaderAdd.queue.length > 0" ng-click="uploaderAdd.queue[0].upload({name: 'image'})">Upload</button>
                    <div class="input-group" ng-class="{'has-error': (!newEvent.image_url && addEventClicked), 'has-success': (newEvent.image_url && addEventClicked)}" ng-if="(!newEvent.image_url && addEventClicked)">
                        <label>{{(!newEvent.image_url && addEventClicked) ? 'Image is required and must be uploaded' : 'Image is uploaded'}}</label>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>

            <form name="newEventForm" class="modal-body">

                <div class="col-md-12 input-group"
                     ng-class="{'has-error': (newEventForm.title.$error.required && !newEventForm.title.$pristine) || (newEventForm.title.$error.required && addEventClicked), 'has-success': (!newEventForm.title.$error.required && !newEventForm.title.$pristine) || (!newEventForm.title.$error.required && addEventClicked)}">
                    <input type="text" name="title" ng-model="newEvent.title" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Title</label>
                </div>

                <div class="col-md-12 input-group"
                     ng-class="{'has-error': (newEventForm.description.$error.required && !newEventForm.description.$pristine) || (newEventForm.description.$error.required && addEventClicked), 'has-success': (!newEventForm.description.$error.required && !newEventForm.description.$pristine) || (!newEventForm.description.$error.required && addEventClicked)}">
                    <textarea type="text" name="description" ng-model="newEvent.description" required></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Description</label>
                </div>

                <div class="col-md-6 input-group"
                     ng-class="{'has-error': ((newEventForm.startsAt.$error.required || newEventForm.startsAt.$error.date) && !newEventForm.startsAt.$pristine) || ((newEventForm.startsAt.$error.required || newEventForm.startsAt.$error.date) && addEventClicked), 'has-success': (!(newEventForm.startsAt.$error.required || newEventForm.startsAt.$error.date) && !newEventForm.startsAt.$pristine) || (!(newEventForm.startsAt.$error.required || newEventForm.startsAt.$error.number) && addEventClicked)}">
                    <md-datepicker name="startsAt" ng-model="newEvent.start_date" md-placeholder="Start date" required></md-datepicker>
                </div>

                <div class="col-md-6 input-group input-group-last"
                     ng-class="{'has-error': ((newEventForm.endsAt.$error.required || newEventForm.endsAt.$error.date) && !newEventForm.endsAt.$pristine) || ((newEventForm.endsAt.$error.required || newEventForm.endsAt.$error.date) && addEventClicked), 'has-success': (!(newEventForm.endsAt.$error.required || newEventForm.endsAt.$error.date) && !newEventForm.endsAt.$pristine) || (!(newEventForm.endsAt.$error.required || newEventForm.endsAt.$error.number) && addEventClicked)}">
                    <md-datepicker ng-model="newEvent.end_date" name="endsAt" md-placeholder="End date" required></md-datepicker>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="input-group col-md-6"
                         ng-class="{'has-error': (!newEvent.location.latitude && addEventClicked), 'has-success': (newEvent.location.latitude && addEventClicked)}">
                        <input type="number" ng-model="newEvent.location.latitude" ng-class="{'has_value': newEvent.location.latitude}" disabled required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Latitude</label>
                    </div>

                    <div class="input-group col-md-6"
                         ng-class="{'has-error': (!newEvent.location.longitude && addEventClicked), 'has-success': (newEvent.location.longitude && addEventClicked)}">
                        <input type="number" ng-model="newEvent.location.longitude" ng-class="{'has_value': newEvent.location.longitude}" disabled required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Longitude</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-normal" ng-click="openAddMapPicker()">Select event location</button>
                </div>

                <div class="clearfix"></div>

            </form>
            <div class="modal-footer">
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-red" ng-click="closeAddModal()">Cancel</button>
                </div>
                <div class="col-md-6 text-left">
                    <button type="button" class="btn btn-blue" ng-click="createModal()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>