<div class="modal in" id="rankings" style="display: block; padding-right: 17px;" ng-cloak>
    <div class="modal-dialog modal-light modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Rankings</h2>
            </div>
            <div class="modal-body">

                <div class="row rankings-header">
                    <div class="col-md-6 col-md-offset-2">
                        <label class="rankings-label">Name</label>
                    </div>
                    <div class="col-md-3">
                        <label class="rankings-label">Points</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>
                <div class="row participant">
                    <div class="col-md-6 col-md-offset-2 participant-mail">
                        mirko@fodor.hr
                    </div>
                    <div class="col-md-2">
                        10
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-right">
                    <!--          <button type="button" class="btn btn-normal" aria-label="Close">Close</button>-->
                    <!--          <button type="button" class="btn btn-delete" data-dismiss="modal" aria-label="Delete" data-toggle="modal" data-target="#confirm">Delete</button>-->
                    <button type="button" class="btn btn-normal" ng-click="closeRankingModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>