<div class="modal in" id="delete-event" style="display: block; padding-right: 17px;" ng-cloak>
    <div class="modal-dialog modal-light modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Are you sure?</h2>
            </div>
            <div class="modal-body text-center">

                Are you sure you want to delete this sticker?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-normal" ng-click="closeStickerDeleteModal()">Cancel</button>
                <button type="button" class="btn btn-red" ng-click="deleteSticker()">Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>