web/assets/node_modules
frontend/.idea
frontend/node_modules
frontend/bower_components
frontend/production/angular-modules.min.js
frontend/production/main.min.js
frontend/production/style.min.css
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml


build/
backend/dist/
backend/node_modules/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/
.idea
*.log
pip-log.txt

.DS_Store

env
site