.input-group {
  position: relative;
  margin-bottom: 35px;

  &-last {
    margin-bottom: 0;
  }

  &.has-success {
    input,
    textarea {
      background: rgba($brand-color-light, .025);
      border-bottom: 1px solid $brand-color-light;
    }
    label {
      color: $brand-color-light !important;
    }
  }
  &.has-error {
    input,
    textarea {
      background: rgba(#e74c3c,.025);
      border-bottom: 1px solid #e74c3c;
    }
    label {
      color: #e74c3c !important;
    }
  }

  input,
  textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba($brand-color-dark, .3);
    background: transparent;

    &:focus { outline:none; }
  }

  textarea {
    resize: none;
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  /* active state */
  input:focus ~ label,
  input:valid ~ label,
  input.has_value ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label,
  textarea.has_value ~ label{
    top: -20px;
    font-size: 12px;
    color: lighten($brand-color-dark, 50%);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $brand-color-dark;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after,
  textarea:focus ~ .bar:before,
  textarea:focus ~ .bar:after {
    width: 50%;
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: calc(100% - 30px);
    top: 25%;
    left: 15px;
    right: 15px;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus ~ .highlight,
  textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background: $brand-color-dark; }
    to { width: 0; background: transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background: $brand-color-dark; }
    to { width: 0; background: transparent; }
  }
  @keyframes inputHighlighter {
    from { background: $brand-color-dark; }
    to { width: 0; background: transparent; }
  }
}
