.search-bar {
  position: absolute;
  left: 1em;
  bottom: 1em;
  border-radius: $border-radius;
  box-shadow: 0 0 30px rgba($black, .2);
  z-index: 10;

  input {
    background: url("img/search.svg") no-repeat center left 3px;
    transition: .25s all;
    border: none;
    width: 0;
    padding:1.5em 2em;

    &:hover,
    &:focus,
    &:active {
      padding: $nav-link-padding;
      width:333px;
      outline: none;
      background: url("img/search-active.svg") no-repeat center left 3px;
      transition: .25s all;
    }
  }
  .backdropfilter & {
    &.search-bar-light {
      background: rgba($white, .75);
      -webkit-backdrop-filter: blur(5px) saturate(180%);
    }
    &.search-bar-dark {
      background: rgba($black, .75);
      -webkit-backdrop-filter: blur(5px) saturate(180%);
    }
  }
  .no-backdropfilter & {
    &.search-bar-light {
      background: rgba($white, .95);
    }
    &.search-bar-dark {
      background: rgba($black, .75);
    }
  }
}
