<div ng-controller="MapController as vm" class="modal-open map-full-screen" style="height: 100%; width: 100%; position: absolute;">
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options='vm.map.options' control="vm.map.control">
        <ui-gmap-markers models="vm.stickers" coords="'location'" options="'options'" icon="'options.icon'" events="'events'"></ui-gmap-markers>
    </ui-gmap-google-map>
    <div ng-show="vm.mapMapPickerOpened">
        <div class="modal in" id="map-map-picker" style="display: block; padding-right: 17px" ng-cloak>
            <div class="modal-dialog modal-light map-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Pick position</h4>
                    </div>
                    <div class="modal-body map-in-modal">
                        <ui-gmap-google-map ng-if='vm.mapMap' ng-cloak control='vm.mapMap.control' center='vm.mapMap.center || 1' zoom='vm.mapMap.zoom' options='vm.mapMap.options' events="vm.mapMap.events">
                            <ui-gmap-marker coords="vm.mapMarker.coords" options="vm.mapMarker.options" idkey="vm.mapMarker.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-blue" ng-click="vm.confirmPick()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop in" id="modalBackdrop" ng-show="vm.mapMapPickerOpened"></div>
</div>