<div class="modal-open" style="position: absolute; height: 100%; width: 100%;">
    <div class="modal in" style="display: block; padding-right: 17px" id="login" ng-cloak>
        <div class="modal-dialog modal-light">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><img src="images/logo.svg"></h4>
                </div>
                <div class="modal-body">

                    <div class="col-md-12 input-group">
                        <input type="text" ng-model="vm.user.email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>

                    <div class="col-md-12 input-group">
                        <input type="password" ng-model="vm.user.password" ng-class="{'has_value': vm.user.password}" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" ng-click="vm.login()">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</div>